BACKEND_IMAGE=ghcr.io/mavravetasyan/workout-journal-backend:latest
BACKEND_PORT=8000

POSTGRES_DB=workout_journal
POSTGRES_USER=workout_user
POSTGRES_PASSWORD=change-me-strong-password

SECRET_KEY=change-me-long-random-secret
CORS_ORIGINS=https://your-domain.com,https://www.your-domain.com
STATIC_DIR=/app/static
